@import 'tailwindcss';

:root {
	--background: #2e282a;
	--background-secondary: #211c1e;
	--foreground: #fbfef9;
	--primary: #e4572e;

	--title: 43.95px;
	--heading: 35.16px;
	--sub-heading: 20px;
	--body: 18px;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #2e282a;
		--background-secondary: #211c1e;
		--foreground: #fbfef9;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* Typography Styles */

.title {
	@apply text-(length:--title) font-extrabold;
}

.heading {
	@apply text-(length:--heading) font-extrabold;
}

.subheading {
	@apply text-(length:--sub-heading) font-bold;
}

.body {
	@apply text-(length:--body);
}

/* Navbar Styles */

.nav-item {
	@apply p-2 rounded-lg transition-all duration-150 ease-in-out hover:bg-[#181516] hover:scale-110;
}

.nav-item-active {
	@apply font-bold bg-(--primary) rounded-lg hover:bg-[#e06e4b] hover:scale-110;
}

/* Input Styles */

.label {
	@apply text-(length:--body) mb-1;
}

.input {
	@apply bg-foreground text-background mb-3 h-9 rounded-lg px-4 outline-none;
}
