@import 'tailwindcss';

:root {
	--background: #2e282a;
	--background-secondary: #211c1e;
	--foreground: #fbfef9;
	--color-primary: #e4572e;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #2e282a;
		--background-secondary: #211c1e;
		--foreground: #fbfef9;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
